<div id="main-container" class="hidden">

  <div id="placeholder"></div>

  <div class="div-table" id="passwd-fields-container">
    <div class="div-table-row">
      <div class="padded-div-table-cell">
        Guichê
      </div>
      <div class="padded-div-table-cell" id="guiche-number">
      </div>
    </div>

    <div class="div-table-row">
      <div class="padded-div-table-cell">
        Próxima
      </div>
      <div class="padded-div-table-cell">
        <input type="text" id="next_passwd" value="" readonly>
      </div>
    </div>

    <div class="div-table-row">
      <div class="padded-div-table-cell">
        Atendendo
      </div>
      <div class="padded-div-table-cell">
        <input type="text" id="attending_passwd" value="" readonly>
      </div>
    </div>
  </div>

  <div class="div-table" id="buttons-container">

    <div class="div-table-row" id="call-next-row">
      <div class="padded-div-table-cell ">
        <input type="button" value="Chamar próxima" id="call_next_button" onclick="call();"><br>
      </div>
    </div>

    <div class="div-table-row hidden" id="call-again-row">
      <div class="padded-div-table-cell ">
        <input type="button" value="Chamar novamente" id="call_again_button" onclick="call_again();">
      </div>
    </div>

    <div class="div-table-row">
      <div class="div-table-cell" id="adjust-container">

        <div class="div-table">
            <div class="div-table-row">
              <div class="padded-div-table-cell ">
                <input type="button" value="Ajustar" onclick="show_adjust();">
              </div>
            </div>
            <div class="div-table-row hidden" id="adjust-button-container">
              <div class="padded-div-table-cell ">
                <input type="number" id="adjust_field" value="1" min="0">
                <input type="button" value="OK" onclick="adjust();">
              </div>
            </div>
        </div>

      </div>
    </div>

    <div class="div-table-row hidden" id="end-row">
      <div class="div-table-cell">
        <input type="button" value="Encerrar atendimento" id="end_button" onclick="end();">
      </div>
    </div>

  </div>

  <div id="overlay">
    <img src="loading.gif" id="loadinggif">
  </div>

</div>

<script type="text/javascript">
  const PARAMS = new URLSearchParams(window.location.search)
  const GUICHE = PARAMS.get("g")

  setup_refs()
  setup_popup()

  show_container()
  set_guiche_number()

  setup_ws()
</script>
