<div id="main-container">

  <div class="div-table" id="main-table">
    <div class="div-table-row">

      <div class="div-table-cell" id="current-cell">
        <div id="current-passwd" style="font-size: 14vw;"></div>
        <div style="font-size: 8vw;">Guichê</div>
        <div id="current-guiche" style="font-size: 14vw;"></div>
      </div>

      <div class="div-table-cell" id="called-cell">

        <table id="called-passwds-container" style="height: 100%;">
          <tr>
            <td colspan="2" class="header-td" style="border-bottom: solid 1px white;">Senhas chamadas</td>
          </tr>
          <tr>
            <td class="header-td" style="border-right: solid 1px white;">Senha</td>
            <td class="header-td">Guichê</td>
          </tr>
          <tr><td class="called-passwd"></td><td class="called-guiche"></td></tr>
          <tr><td class="called-passwd"></td><td class="called-guiche"></td></tr>
          <tr><td class="called-passwd"></td><td class="called-guiche"></td></tr>
          <tr><td class="called-passwd"></td><td class="called-guiche"></td></tr>
          <tr><td class="called-passwd"></td><td class="called-guiche"></td></tr>
        </table>

        <!--
        <div class="div-table" id="called-passwds-container">

          <div class="div-table-row" style="height: 14.28%;">
            <div class="div-table-cell">Senhas chamadas</div>
          </div>

          <div class="div-table-row">

            <div  class="div-table">
              <div class="div-table-row">
                <div class="div-table-cell">Senha</div>
                <div class="div-table-cell">Guichê</div>
              </div>

              <div class="div-table-row">
                <div class="div-table-cell called-passwd"></div>
                <div class="div-table-cell called-guiche"></div>
              </div>
              <div class="div-table-row">
                <div class="div-table-cell called-passwd"></div>
                <div class="div-table-cell called-guiche"></div>
              </div>
              <div class="div-table-row">
                <div class="div-table-cell called-passwd"></div>
                <div class="div-table-cell called-guiche"></div>
              </div>
              <div class="div-table-row">
                <div class="div-table-cell called-passwd"></div>
                <div class="div-table-cell called-guiche"></div>
              </div>
              <div class="div-table-row">
                <div class="div-table-cell called-passwd"></div>
                <div class="div-table-cell called-guiche"></div>
              </div>
          </div>

        </div>


        </div>
        -->

      </div>

    </div>
  </div>

</div>
<script type="text/javascript">
  setup_ws()

  current_cell_div = document.getElementById("current-cell")
  current_passwd_div = document.getElementById("current-passwd")
  current_guiche_div = document.getElementById("current-guiche")
  called_passwds_container_div = document.getElementById("called-passds-container")
  called_passwd_divs = document.getElementsByClassName("called-passwd")
  called_guiche_divs = document.getElementsByClassName("called-guiche")
</script>
