body {
  font-family: sans-serif;
}

.div-table, .div-table-row, .div-table-cell {
  /* border: solid 1px blue; */
  border-collapse: collapse;
  /* table-layout: fixed; */
}

.div-table {
  display: table;
  width: 100%;
  /* table-layout: fixed; */
}

.div-table-row {
  display: table-row;
  width: 100%;
  /* position: absolute; */
}

.div-table-cell {
  display: table-cell;
  text-align: center;
  /* width: 100%; */
  /* height: 24px; */
  /* position: absolute; */
  /* border: solid 1px black; */
}

.padded-div-table-cell  {
  padding: 7px;

  display: table-cell;
  text-align: center;
  width: 100%;
  /* height: 24px; */
  /* position: absolute; */
  /* border: solid 1px black; */

}

.hidden {
  display: none !important;
}
