#main-container {
  text-align: center;
  width: 100%;
  /* position: relative; */
}

#passwd-fields-container, #buttons-container {
  margin: 0 auto;
  /* possition: relative; */
}

#overlay {
  position: absolute;
  top: 0;
  right: 0;

  height: 100%;
  width: 100%;

  background-color: black;
  opacity: 0.6;
}

#loadinggif {
  position: relative; max-height: 20%; max-width: 20%; top: 30%;
}

@keyframes blinkfield {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blinkfield {
  50% {
    opacity: 0.0;
  }
}
.blinkfield {
  /* background-color: yellow; */
  animation: blinkfield 1s;
  -webkit-animation: blinkfield 1s;
}
