body, html {
  height: 100%;
  overflow: hidden;
}

#main-container {
  /* position: relative; */
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#main-table {
  margin: 0 auto;
  /* position: absolute; */
  height: 95%;
  width: 99%;
  /* margin: 5px 5px 5px 5px; */
  padding: 0;

  text-transform: uppercase;
}

#current-cell {
  background-color: yellow;
  width: 70%;
  vertical-align: middle;
}

#called-cell {
  width: 30%;
}

.div-table {
  height: 100%;
}
table {
  height: 100%;
  width: 100%;
  border-collapse: collapse;
}

.div-table-row, tr {
}
tr {
  height: 14.18%;
}

.div-table-cell, td {
  border: solid 1px black;
  vertical-align: middle;
}
td {
  height: 14.28%; /* 100% / 7 cells */
  font-size: 2.5vw;
}
.header-td {
  background-color: black;
  color: white;
}

/*
#called-passwds-container .div-table-cell, #called-passwds-container td {
  border: solid 1px yellow;
  height: 16.66%;
  font-size: 3vw;
}
*/

/* #called-cell > .div-table-cell {
  height: 14.28%;
} */

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}
.blink {
  animation: blink 1s step-start 0s 2;
  -webkit-animation: blink 1s step-start 0s 2;
}
